.Rproj.user
.Rhistory
.RData
.Ruserdata

# Uncombined datasets
/Data/AaduCarltonStacifiles
/Scripts/PlottingPatternsRePTaR_original.R

# Unused results files
/Results/Unused

# Old data analysis using frequentist approach
/Scripts/oldLogisticRegressionScanningSuccess.R